@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: "GeneralSans-Variable"; */
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.skills-container {
  position: relative;
  width: 100%;
  height: 180px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}

.skill {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.skills-container p {
  animation-name: cloud-animation;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes cloud-animation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Adjust the bounce height */
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes move-skill {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -30px); /* Adjust the movement distance */
  }
  100% {
    transform: translate(0, 0);
  }
}
